<!DOCTYPE html>
<html lang="en">

<head>
    {{> meta_data }}
    {{> meta_icon }}

    <!-- Site Properties -->
    <title>
        < SITCODE 2019 />
    </title>
    {{> link_css_index }}
</head>

<body>

    <div class="pusher">
        <div class="ui inverted vertical center aligned segment" id="logo">

            <div class="ui text container">
                <a href="https://sitcode.sit.kmutt.ac.th">
                    <h1 class="ui header special">
                        < SITCODE 2019 />
                    </h1>
                </a>
            </div>

        </div>

        <div class="ui vertical stripe segment">
            <h2 class="ui header center aligned">รายชื่อทีมที่มีสิทธิ์เข้าร่วมการแข่งขันรอบ Online Round</h2>
            <div class="ui stackable middle equal width grid container">
                <div class="centered row">
                    <div class="ten wide column">
                        <table class="ui celled blue striped selectable table">
                            <thead>
                                <tr>
                                    <th class="center aligned">ลำดับ</th>
                                    <th class="center aligned">ชื่อทีม</th>
                                    <th>โรงเรียน</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each arr}}
                                <tr>
                                    <td data-label="ลำดับ" class="center aligned">{{inc @index}}</td>
                                    <td data-label="ชื่อทีม" class="center aligned">{{this.team_name}}</td>
                                    <td data-label="โรงเรียน">{{this.team_school}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        {{> footer}}
    </div>

    {{> script_src_index }}
</body>

</html>