<!DOCTYPE html>
<html>

<head>
    {{> meta_data }}
    {{> meta_icon }}

    <!-- Site Properties -->
    <title>
        < SITCODE 2019 />
    </title>
    {{> link_css_index }}
</head>

<body>
    {{> menu_index }}

    <!-- Page Contents -->
    <div class="pusher">
        <div class="ui inverted vertical masthead center aligned segment" id="particles-js">

            <div class="ui container">
                <div class="ui large inverted secondary pointing menu">
                    <a class="toc item">
                        <i class="sidebar icon"></i>
                    </a>
                    <a class="item" href="#rule-section">กติกา</a>
                    <a class="item" href="#compete-section">รูปแบบ</a>
                    <a class="item" href="#reward-section">รางวัล</a>
                    <a class="item" href="#appointment-section">กำหนดการ</a>
                    <a class="item" href="#location-section">สถานที่</a>
                    <a class="item" href="#document-section">เอกสาร</a>
                    <div class="right item">
                        <a class="ui inverted primary button" href="/register">สมัครเข้าร่วมการแข่งขัน</a>
                    </div>
                </div>
            </div>

            <div class="ui text inverted container" id="main-container">
                <h1 class="ui header special">
                    < SITCODE 2019 />
                </h1>
                <h2 class="main">คาร์โก้รีวิว หลวงตา ฟีดไฮเปอร์วันเวย์ติวเตอร์บอร์ด</h2>
                <p class="main">พรีเมียมเบญจมบพิตรคาราโอเกะยูโรลีเมอร์ โปรเจกต์ฮ่องเต้บัสไบโอกราวนด์
                    คลิปวอลล์มือถือดีไซน์แม็กกาซีน
                    ควีนเลิฟไลท์ ไชน่าแคมปัสวันเวย์โก๊ะหมั่นโถว โกเต็กซ์แอโรบิคแอโรบิคสโตร์โปรโมเตอร์
                    รัมโยเกิร์ตตะหงิดซิมโฟนี โปลิศเยอร์บีราแครกเกอร์ไนน์สตาร์ ทริปวอลซ์ฮิปฮอป ตัวตนซิมโฟนี่กรุ๊ปสปาย</p>
            </div>

        </div>

        <div class="ui vertical stripe segment" id="rule-section">
            <div class="ui stackable middle equal width grid container">
                <div class="row">
                    <div class="column middle aligned">
                        <div class="ui large header blue-gradient">ประเภทการแข่งขัน</div>
                        <p>เป็นการแข่งขันเขียนโปรแกรมประเภททีม สำหรับนักเรียนมัธยมศึกษาตอนปลาย
                            จำนวนสมาชิกทีมละ 3 คน</p>
                        <div class="ui large header blue-gradient">คุณสมบัติและเงื่อนไขของทีม</div>
                        <p>1. ผู้สมัครต้องกำลังศึกษาอยู่ในระดับมัธยมศึกษาปีที่ 4 5 หรือ 6</p>
                        <p>2. สมาชิกทั้ง 3 คนภายในทีมต้องมาจากโรงเรียนเดียวกัน </p>
                        <p>3. แต่ละโรงเรียนมีสิทธิ์ส่งทีมเข้าร่วมแข่งขันได้ไม่จำกัดจำนวน<br>
                            <small>(ในกรณีที่มีหลายทีมจากโรงเรียนเดียวกันที่เข้ารอบขอสงวนสิทธิ์ในการคัดเลือกทีมเพียงโรงเรียนละไม่เกิน
                                3 ทีม โดยคณะกรรมการผู้จัดการแข่งขัน)</small>
                        </p>
                    </div>
                    <div class="column middle aligned">
                        <img class="ui centered large image" src="/img/programmer.svg">
                    </div>
                </div>
            </div>
        </div>

        <div class="ui vertical stripe segment" id="compete-section">
            <h2 class="ui header center aligned blue-gradient">รูปแบบการแข่งขัน รอบ Online Round</h2>
            <div class="ui stackable middle equal width grid container">
                <div class="row">
                    <div class="column middle aligned">
                        <img class="ui centered medium image" src="/img/online.svg">
                    </div>
                    <div class="column middle aligned">
                        <p>สอบแข่งขันวันอาทิตย์ที่ 20 มกราคม 2562 โดยมีรายละเอียดดังนี้
                            <p>1. ข้อสอบเป็น Multiple Choice 4 ตัวเลือก ให้เลือกตอบที่ถูกที่สุดเพียง 1 ข้อ มีทั้งหมด 30
                                ข้อ ใช้เวลาทำข้อสอบ 2 ชั่วโมง ตั้งแต่เวลา 10.00 -12.00 น.</p>
                            <p>2. ทีมผู้แข่งขัน 1 ทีม ใช้ User name account 1 account เท่านั้น</p>
                            <p>3. ทีมที่ผ่านเข้ารอบ จำนวน 40 ทีม เรียงตามลำดับคะแนนมากที่สุด หากมีคะแนนเท่ากัน
                                จะพิจารณาตามลำดับเวลาในการทำข้อสอบ</p>
                            <p>4. ประกาศผลทีมที่ผ่านเข้ารอบ ในวันพุธที่ 23 มกราคม 2562</p>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui vertical stripe segment">
            <h2 class="ui header center aligned blue-gradient">รูปแบบการแข่งขัน รอบ Coding Round</h2>
            <div class="ui stackable middle equal width grid container">
                <div class="row">
                    <div class="column middle aligned">
                        <h3 class="ui header blue-gradient">รอบที่ 2.1 Semi-Final Round (รอบรองชนะเลิศ)</h3>
                        <p>1. ชุดโจทย์ปัญหามีทั้งหมด 10 ข้อ <small>(Hard 4 ข้อ, Medium 3 ข้อ, Easy 3 ข้อ)</small>
                            ซึ่งมีความยากง่ายและเทคนิคการแก้ไขปัญหาที่แตกต่างกันไป
                            และคะแนนที่ได้แบ่งตามระดับความยาก - ง่ายของคำถาม <small>(Hard = 30, Medium = 20, Easy = 10)</small>
                            โดยระบบจะแสดงคำถามพร้อมกันทั้งหมด
                            ให้ทีมผู้เข้าร่วมแข่งขันเลือกคำถามที่ต้องการแก้โจทย์ปัญหาให้ได้มากที่สุด (ภายในเวลา 2
                            ชม. ตั้งแต่เวลา 9.30 - 11.30 น.)</p>
                        <p>2. โจทย์ปัญหาที่กำหนดให้ในแต่ละข้อ จะประกอบด้วย
                            ชุดข้อมูลนำเข้าตัวอย่างในโปรแกรม (Sample Input Data)
                            ชุดข้อมูลผลลัพธ์ตัวอย่างที่ต้องการ (Sample Output Data)
                            สิ่งที่ขาดคือ กระบวนการแก้ไขปัญหาหรือ Process ซึ่งผู้เข้าแข่งขันต้องพยายามคิด วิเคราะห์
                            และใช้การเขียนโปรแกรมคอมพิวเตอร์ในการประมวลผล Input เพื่อให้ได้ Output
                            ที่กำหนดออกมาให้ได้</p>
                        <p>3. เมื่อสามารถแก้ไขปัญหาและได้ผลลัพธ์ที่โจทย์ปัญหาต้องการแล้ว
                            ผู้เข้าร่วมแข่งขันจะต้องส่ง
                            source code ของโปรแกรมที่เขียนขึ้นผ่านทางระบบเว็บไซต์การแข่งขัน
                            เพื่อตรวจสอบผลลัพธ์ของโปรแกรม</p>

                        <p>4. ผู้เข้าร่วมแข่งขัน สามารถเลือกใช้ภาษาตามที่กำหนดด้านล่าง (ภายในขอบเขตที่กำหนด)
                            ในการแก้ไขปัญหา และสามารถใช้โปรแกรมดังที่กำหนด (C, C++, Java, Python 2, Python 3)</p>
                        <p>5. คัดเลือกทีมที่ได้คะแนนสูงสุด 10 ทีมแรก เข้ารอบชิงชนะเลิศ (จากทั้งหมด 40 ทีม)</p>
                        <p>6. การตัดสินของคณะกรรมการถือเป็นที่สิ้นสุด</p>
                        <p>7. หากพบว่ามีการดำเนินการใด ๆ ที่อาจถือว่าเป็นการทุจริตในการแข่งขัน
                            จะถือว่าทีมนั้นหมดสิทธิ์ในการเข้าร่วมโครงการทันที</p>
                    </div>
                    <div class="column middle aligned">
                        <img class="ui centered large image" src="/img/coding-1.svg">
                    </div>
                </div>
                <div class="row">
                    <div class="column middle aligned">
                        <img class="ui centered large image" src="/img/coding-2.svg">
                    </div>
                    <div class="column middle aligned">
                        <h3 class="ui header blue-gradient">รอบที่ 2.2 Final Round (รอบชิงชนะเลิศ) รอการปรับแก้</h3>
                        <p>1. เป็นการแข่งขันแก้โจทย์ปัญหาการ Coding และส่งเฉพาะ source code เท่านั้น จำนวน 10 ข้อ</p>
                        <p>2. การส่ง source code เพื่อขึ้นคำตอบในระบบ หากผลลัพธ์ผิดจะหักคะแนนครั้งละ 5%
                            ของคะแนนรวมสำหรับข้อนั้น ๆ</p>
                        <p>3. โจทย์เป็นภาษาอังกฤษ</p>
                        <p>4. มีเครื่องคอมพิวเตอร์โน้ตบุ้คเตรียมไว้ให้สำหรับทุกทีม ทีมละ 3 เครื่อง</p>
                        <p>5. ทีมที่ได้คะแนนรวมสูงสุดได้รับรางวัลชนะเลิศ และทีมที่ได้คะแนนรวมรองลงมาจะได้รางวัลที่ 2
                            และ 3
                            ตามลำดับ ส่วนทีมที่เหลืออีก 7 ทีม จะได้รับรางวัลชมเชย หากมีคะแนนเท่ากัน
                            จะพิจารณาตามเวลาที่ส่งคำตอบที่ถูกต้อง โดยเรียงลำดับตามทีมที่เร็วที่สุด</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui vertical stripe segment">
            <h2 class="ui header center aligned blue-gradient">คณะกรรมการตัดสิน</h2>
            <div class="ui stackable middle equal width grid container">
                <div class="center aligned row">
                    <div class="column">
                        <p>คณาจารย์จากคณะเทคโนโลยีสารสนเทศ มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui vertical stripe quote segment" id="reward-section">
            <div class="ui equal width stackable internally celled grid">
                <div class="center aligned row">
                    <div class="yellow column">
                        <img class="ui centered small image" src="/img/001-gold-medal.svg">
                        <div class="ui inverted large header">รางวัลชนะเลิศที่ 1</div>
                        <p>ได้รับเงินรางวัล 10,000 บาท พร้อมใบประกาศเกียรติคุณ</p>
                    </div>
                    <div class="grey column">
                        <img class="ui centered small image" src="/img/002-silver-medal.svg">
                        <div class="ui inverted large header">รางวัลที่ 2</div>
                        <p>ได้รับเงินรางวัล 6,000 บาท พร้อมใบประกาศเกียรติคุณ</p>
                    </div>
                    <div class="brown column">
                        <img class="ui centered small image" src="/img/003-bronze-medal.svg">
                        <div class="ui inverted large header">รางวัลที่ 3</div>
                        <p>ได้รับเงินรางวัล 3,000 บาท พร้อมใบประกาศเกียรติคุณ</p>
                    </div>
                </div>
                <div class="center aligned row">
                    <div class="teal column">
                        <div class="ui inverted large header">รางวัลชมเชย</div>
                        <p>7 รางวัล ได้รับเงินรางวัลราง
                            วัลละ 1,000 บาท</p>
                    </div>
                    <div class="teal column">
                        <div class="ui inverted large header">รางวัลพิเศษ</div>
                        <p>สำหรับผู้เข้าชมการแข่งขันและร่วมสนุกตอบคำถาม รางวัลละ 100 บาท</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui vertical stripe segment" id="appointment-section">
            <div class="ui stackable middle center aligned equal width grid container">
                <h2 class="ui center aligned header blue-gradient">กำหนดการดำเนินกิจกรรม</h2>
                <div class="row">
                    <div class="column">
                        <img class="ui small centered image" src="/img/register.svg">
                        <p class="ui medium header">รับสมัครผู้เข้าแข่งขัน</p>
                        <p>วันนี้ - 18 มกราคม 2562</p>
                    </div>
                    <div class="column">
                        <img class="ui small centered image" src="/img/approval.svg">
                        <p class="ui medium header">ประกาศรายชื่อทีมที่มีสิทธิ์สอบรอบคัดเลือก</p>
                        <p>19 มกราคม 2562</p>
                    </div>
                    <div class="column">
                        <img class="ui small centered image" src="/img/coding.svg">
                        <p class="ui medium header">ทดสอบความสามารถด้านการเขียนโปรแกรมเบื้องต้น (Online Round)</p>
                        <p>20 มกราคม 2562</p>
                    </div>
                    <div class="column">
                        <img class="ui small centered image" src="/img/annouce.svg">
                        <p class="ui medium header">ประกาศรายชื่อทีมที่มีสิทธิ์เข้าร่วมการแข่งขันรอบ Coding และรอบ
                            Final</p>
                        <p>23 มกราคม 2562</p>
                    </div>
                    <div class="column">
                        <img class="ui small centered image" src="/img/final.svg">
                        <p class="ui medium header">แข่งขันรอบรองชนะเลิศ และชิงชนะเลิศ</p>
                        <p>4 กุมภาพันธ์ 2562</p>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <p class="remark">* กำหนดการอาจมีการเปลี่ยนแปลงตามความเหมาะสม โดยจะแจ้งให้ทราบก่อนการแข่งขัน</p>
                        <p class="remark">* มีอาหารว่าง
                            และอาหารกลางวันรับรองสำหรับผู้เข้าร่วมแข่งขันและอาจารย์ที่ปรึกษาประจำทีมทุกทีม</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui vertical stripe segment">
            <h2 class="ui center aligned header blue-gradient">กำหนดการการแข่งขันรอบชิงชนะเลิศ</h2>
            <div class="ui stackable middle center aligned equal width grid container">
                <p>วันจันทร์ที่ 4 กุมภาพันธ์ 2562 ณ อาคารคณะเทคโนโลยีสารสนเทศ และสำนักหอสมุด
                    มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี</p>
                <div class="row">
                    <div class="twenty wide column">
                        <table class="ui blue selectable striped table">
                            <thead>
                                <tr>
                                    <th>เวลา</th>
                                    <th>กิจกรรม</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-label="เวลา">
                                        08.30 – 08.45 น.
                                    </td>
                                    <td data-label="กิจกรรม">รายงานตัว และลงทะเบียนทีมผู้เข้าแข่งขัน ณ ชั้น 1
                                        อาคารคณะเทคโนโลยีสารสนเทศ</td>
                                </tr>
                                <tr>
                                    <td data-label="เวลา">
                                        09.00 – 09.15 น.
                                    </td>
                                    <td data-label="กิจกรรม">เปิดงาน ณ ห้อง Classroom ชั้น 4 อาคารคณะเทคโนโลยีสารสนเทศ
                                        โดย ผศ.ดร. ณรงค์ฤทธิ์ วราภรณ์ รองคณบดีฝ่ายวิชาการ
                                    </td>
                                </tr>
                                <tr>
                                    <td data-label="เวลา">
                                        09.30 – 11.30 น.
                                    </td>
                                    <td data-label="กิจกรรม">สอบแข่งขัน รอบ Coding ที่ Training Room 1, 2, 3, 5
                                        อาคารคณะเทคโนโลยีสารสนเทศ
                                    </td>
                                </tr>
                                <tr>
                                    <td data-label="เวลา">
                                        12.00 – 13.00 น.
                                    </td>
                                    <td data-label="กิจกรรม">พักรับประทานอาหารเที่ยง ที่ ชั้น 4
                                        อาคารคณะเทคโนโลยีสารสนเทศ
                                    </td>
                                </tr>
                                <tr>
                                    <td data-label="เวลา">
                                        13.15 น.
                                    </td>
                                    <td data-label="กิจกรรม">ประกาศรายชื่อทีมที่เข้ารอบชิงชนะเลิศ 10 ทีม
                                    </td>
                                </tr>
                                <tr>
                                    <td data-label="เวลา">
                                        13.30 – 15.30 น.
                                    </td>
                                    <td data-label="กิจกรรม">แข่งขันรอบชิงชนะเลิศ ชั้น 4 อาคารคณะเทคโนโลยีสารสนเทศ
                                    </td>
                                </tr>
                                <tr>
                                    <td data-label="เวลา">
                                        15.45 – 16.00 น.
                                    </td>
                                    <td data-label="กิจกรรม">ประกาศผลการแข่งขันรอบชิงชนะเลิศ พิธีมอบรางวัล
                                        และถ่ายรูปร่วมกัน
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <p class="remark">* กำหนดการอาจมีการเปลี่ยนแปลงตามความเหมาะสม โดยจะแจ้งให้ทราบก่อนการแข่งขัน</p>
            </div>
        </div>

        <div class="ui vertical stripe segment" id="location-section">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="column">
                        <h2 class="ui center aligned header blue-gradient">สถานที่จัดการแข่งขัน</h2>
                        <p style="text-align: center;"><span class="underline">รอบ Coding</span> : Training Room 1, 2,
                            3, 5 อาคารคณะเทคโนโลยีสารสนเทศ</p>
                        <p style="text-align: center;"><span class="underline">รอบชิงชนะเลิศ</span> : ห้อง Classroon
                            4/2 ชั้น 4 อาคารคณะเทคโนโลยีสารสนเทศ </p>
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui vertical stripe segment" id="document-section">
            <h2 class="ui center aligned header blue-gradient">เอกสาร</h2>
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="column">
                        <table class="ui very basic table">
                            <thead>
                                <tr>
                                    <th>เอกสาร</th>
                                    <th>ดาวน์โหลด</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>File 1</td>
                                    <td><a href="/files/test.pdf" download>Filename.pdf</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui vertical inverted stripe segment" id="particles-js-2">
            <div class="ui middle inverted aligned stackable grid container" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);">
                <div class="center aligned row">
                    <div class="column">
                        <a href="/register">
                            <button class="ui center massive inverted primary button">สมัครเข้าร่วมการแข่งขัน</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {{> footer }}
    </div>

    {{> script_src_index }}

</body>

</html>