<!DOCTYPE html>
<html>

<head>
    {{> meta_data }}
    {{> meta_icon }}

    <!-- Site Properties -->
    <title>
        < SITCODE 2019 /> - Register</title>
    {{> link_css_form }}
</head>

<body>
    <!-- Page Contents -->
    <div class="pusher">
        <div class="ui inverted vertical center aligned segment" id="logo">

            <div class="ui text container">
                <a href="https://sitcode.sit.kmutt.ac.th">
                    <h1 class="ui header special">
                        < SITCODE 2019 />
                    </h1>
                </a>
            </div>

        </div>

        <div class="ui vertical stripe segment">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="column">
                        <h1 class="ui header center aligned">
                            < ลงทะเบียน />
                        </h1>
                        <form class="ui form">
                            <h2 class="ui dividing header">รายละเอียดทีม</h2>
                            <div class="two fields">
                                <div class="field">
                                    <label>ชื่อทีม</label>
                                    <input placeholder="ชื่อทีม ex. Team BIII" name="team_name" type="text">
                                </div>
                                <div class="field">
                                    <label>ภาษาที่ต้องการใช้ในการแข่งขัน</label>
                                    <select class="ui dropdown" name="team_programming_language">
                                        <option value="">Programming Language</option>
                                        <option value="C">C</option>
                                        <option value="C++">C++</option>
                                        <option value="Java">Java</option>
                                        <option value="Python2">Python 2</option>
                                        <option value="Python3">Python 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="field">
                                <label>โรงเรียน</label>
                                <input placeholder="โรงเรียน ex. โรงเรียน SIT48" name="team_school" type="text">
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <label>ชื่อ - สกุลอาจารย์ผู้ควบคุมทีม</label>
                                    <input placeholder="ชื่อ - สกุลอาจารย์ ex. นายรักชาติ อย่างยิ่ง" name="team_teacher"
                                        type="text">
                                </div>
                                <div class="field">
                                    <label>เบอร์โทรศัพท์อาจารย์ผู้ควบคุมทีม</label>
                                    <input placeholder="เบอร์โทรศัพท์อาจารย์ ex. 081-2345-678" name="team_phone" type="tel">
                                </div>
                            </div>
                            <div class="field">
                                <label>ที่อยู่สำหรับจัดส่งเกียรติบัตร</label>
                                <input placeholder="ที่อยู่สำหรับจัดส่งเกียรติบัตร ex. 126 ถนนประชาอุทิศ แขวงบางมด เขตทุ่งครุ กรุงเทพฯ 10140"
                                    name="team_address" type="text">
                            </div>

                            <hr class="ui hidden divider">

                            <h2 class="ui dividing header">รายละเอียดผู้เข้าแข่งขันคนที่ 1 (หัวหน้าทีม)</h2>
                            <div class="three fields">
                                <div class="field">
                                    <label>คำนำหน้านาม</label>
                                    <select class="ui dropdown" name="first_name_prefix">
                                        <option value="">คำนำหน้านาม</option>
                                        <option value="เด็กชาย">เด็กชาย</option>
                                        <option value="เด็กหญิง">เด็กหญิง</option>
                                        <option value="นาย">นาย</option>
                                        <option value="นาง">นาง</option>
                                        <option value="นางสาว">นางสาว</option>
                                    </select>
                                </div>
                                <div class="field">
                                    <label>ชื่อ</label>
                                    <input placeholder="ชื่อ ex. ปกป้อง" type="text" name="first_name">
                                </div>
                                <div class="field">
                                    <label>นามสกุล</label>
                                    <input placeholder="นามสกุล ex. ใจกล้า" type="text" name="first_surname">
                                </div>
                            </div>
                            <div class="three fields">
                                <div class="field">
                                    <label>ระดับชั้น</label>
                                    <select class="ui dropdown" name="first_grade">
                                        <option value="">ระดับชั้น</option>
                                        <option value="ม.4">ม.4</option>
                                        <option value="ม.5">ม.5</option>
                                        <option value="ม.6">ม.6</option>
                                    </select>
                                </div>
                                <div class="field">
                                    <label>เบอร์โทรศัพท์</label>
                                    <input placeholder="เบอร์โทรศัพท์ ex. 081-2345-678" type="tel" name="first_phone">
                                </div>
                                <div class="field">
                                    <label>Email</label>
                                    <input placeholder="Email ex. info@sit.kmutt.ac.th" type="email" name="first_email">
                                </div>
                            </div>

                            <hr class="ui hidden divider">

                            <h2 class="ui dividing header">รายละเอียดผู้เข้าแข่งขันคนที่ 2</h2>
                            <div class="three fields">
                                <div class="field">
                                    <label>คำนำหน้านาม</label>
                                    <select class="ui dropdown" name="second_name_prefix">
                                        <option value="">คำนำหน้านาม</option>
                                        <option value="เด็กชาย">เด็กชาย</option>
                                        <option value="เด็กหญิง">เด็กหญิง</option>
                                        <option value="นาย">นาย</option>
                                        <option value="นาง">นาง</option>
                                        <option value="นางสาว">นางสาว</option>
                                    </select>
                                </div>
                                <div class="field">
                                    <label>ชื่อ</label>
                                    <input placeholder="ชื่อ ex. ปกป้อง" type="text" name="second_name">
                                </div>
                                <div class="field">
                                    <label>นามสกุล</label>
                                    <input placeholder="นามสกุล ex. ใจกล้า" type="text" name="second_surname">
                                </div>
                            </div>
                            <div class="three fields">
                                <div class="field">
                                    <label>ระดับชั้น</label>
                                    <select class="ui dropdown" name="second_grade">
                                        <option value="">ระดับชั้น</option>
                                        <option value="ม.4">ม.4</option>
                                        <option value="ม.5">ม.5</option>
                                        <option value="ม.6">ม.6</option>
                                    </select>
                                </div>
                                <div class="field">
                                    <label>เบอร์โทรศัพท์</label>
                                    <input placeholder="เบอร์โทรศัพท์ ex. 081-2345-678" type="tel" name="second_phone">
                                </div>
                                <div class="field">
                                    <label>Email</label>
                                    <input placeholder="Email ex. info@sit.kmutt.ac.th" type="email" name="second_email">
                                </div>
                            </div>

                            <hr class="ui hidden divider">

                            <h2 class="ui dividing header">รายละเอียดผู้เข้าแข่งขันคนที่ 3</h2>
                            <div class="three fields">
                                <div class="field">
                                    <label>คำนำหน้านาม</label>
                                    <select class="ui dropdown" name="third_name_prefix">
                                        <option value="">คำนำหน้านาม</option>
                                        <option value="เด็กชาย">เด็กชาย</option>
                                        <option value="เด็กหญิง">เด็กหญิง</option>
                                        <option value="นาย">นาย</option>
                                        <option value="นาง">นาง</option>
                                        <option value="นางสาว">นางสาว</option>
                                    </select>
                                </div>
                                <div class="field">
                                    <label>ชื่อ</label>
                                    <input placeholder="ชื่อ ex. ปกป้อง" type="text" name="third_name">
                                </div>
                                <div class="field">
                                    <label>นามสกุล</label>
                                    <input placeholder="นามสกุล ex. ใจกล้า" type="text" name="third_surname">
                                </div>
                            </div>
                            <div class="three fields">
                                <div class="field">
                                    <label>ระดับชั้น</label>
                                    <select class="ui dropdown" name="third_grade">
                                        <option value="">ระดับชั้น</option>
                                        <option value="ม.4">ม.4</option>
                                        <option value="ม.5">ม.5</option>
                                        <option value="ม.6">ม.6</option>
                                    </select>
                                </div>
                                <div class="field">
                                    <label>เบอร์โทรศัพท์</label>
                                    <input placeholder="เบอร์โทรศัพท์ ex. 081-2345-678" type="tel" name="third_phone">
                                </div>
                                <div class="field">
                                    <label>Email</label>
                                    <input placeholder="Email ex. info@sit.kmutt.ac.th" type="email" name="third_email">
                                </div>
                            </div>

                            <hr class="ui hidden divider">
                            <hr class="ui divider">

                            <div class="inline field">
                                <div class="ui checkbox">
                                    <input type="checkbox" name="terms">
                                    <label>ข้าพเจ้ายอมรับว่า ข้าพเจ้าได้อ่านรายะเอียด เงื่อนไข กติกาการแข่งขันทั้งหมด
                                        และจะปฏิบัติตาม และขอยืนยันว่าข้อมูลทั้งหมดเป็นความจริง</label>
                                </div>
                            </div>

                            <hr class="ui hidden divider">
                            <button class="ui teal large centered button" style="position: relative; left: 50%; transform: translateX(-50%);">Submit</button>
                            <div class="ui error message"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {{> footer }}
    </div>

    {{> script_src_form }}
</body>

</html>