<!DOCTYPE html>
<html>

<head>
    {{> meta_data}}
    {{> meta_icon}}

    <!-- Site Properties -->
    <title>Homepage - Semantic</title>
    {{> link_css }}

    {{> script_src }}
</head>

<body>
    {{> menu_index}}

    <!-- Page Contents -->
    <div class="pusher">
        <div class="ui inverted vertical masthead center aligned segment">

            <div class="ui container">
                <div class="ui large secondary inverted pointing menu">
                    <a class="toc item">
                        <i class="sidebar icon"></i>
                    </a>
                    <a class="active item">Home</a>
                    <a class="item">Work</a>
                    <a class="item">Company</a>
                    <a class="item">Careers</a>
                    <div class="right item">
                        <a class="ui inverted button" href="/register">สมัครเข้าร่วมการแข่งขัน</a>
                    </div>
                </div>
            </div>

            <div class="ui text container">
                <h1 class="ui inverted header">
                    Imagine-a-Company
                </h1>
                <h2>Do whatever you want when you want to.</h2>
                <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
            </div>

        </div>

        <div class="ui vertical stripe segment">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="column">
                        <form class="ui form">
                            <h4 class="ui dividing header">Tell us about yourself</h4>
                            <div class="two fields">
                                <div class="field">
                                    <label>Name</label>
                                    <input placeholder="First Name" name="name" type="text">
                                </div>
                                <div class="field">
                                    <label>Gender</label>
                                    <select class="ui dropdown" name="gender">
                                        <option value="">Gender</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <label>Username</label>
                                    <input placeholder="Username" name="username" type="text">
                                </div>
                                <div class="field">
                                    <label>Password</label>
                                    <input type="password" name="password">
                                </div>
                            </div>
                            <div class="field">
                                <label>Skills</label>
                                <select name="skills" multiple="" class="ui dropdown">
                                    <option value="">Select Skills</option>
                                    <option value="css">CSS</option>
                                    <option value="html">HTML</option>
                                    <option value="javascript">Javascript</option>
                                    <option value="design">Graphic Design</option>
                                    <option value="plumbing">Plumbing</option>
                                    <option value="mech">Mechanical Engineering</option>
                                    <option value="repair">Kitchen Repair</option>
                                </select>
                            </div>
                            <div class="inline field">
                                <div class="ui checkbox">
                                    <input type="checkbox" name="terms">
                                    <label>I agree to the terms and conditions</label>
                                </div>
                            </div>
                            <div class="ui primary submit button">Submit</div>
                            <div class="ui error message"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {{> footer }}
    </div>

    <!-- Test -->

    <script>
        $('.dropdown')
            .dropdown()
            ;
        $('.checkbox')
            .checkbox()
            ;
        /* new Cleave('#tel-1', {
            numericOnly: true,
            prefix: '0',
            delimiters: ['-', '-', '-'],
            blocks: [2, 4, 3]
        }); */
        $('.ui.form')
            .form({
                fields: {
                    name: {
                        identifier: 'name',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please enter your name'
                            }
                        ]
                    },
                    skills: {
                        identifier: 'skills',
                        rules: [
                            {
                                type: 'minCount[2]',
                                prompt: 'Please select at least two skills'
                            }
                        ]
                    },
                    gender: {
                        identifier: 'gender',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please select a gender'
                            }
                        ]
                    },
                    username: {
                        identifier: 'username',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please enter a username'
                            }
                        ]
                    },
                    password: {
                        identifier: 'password',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please enter a password'
                            },
                            {
                                type: 'minLength[6]',
                                prompt: 'Your password must be at least {ruleValue} characters'
                            }
                        ]
                    },
                    terms: {
                        identifier: 'terms',
                        rules: [
                            {
                                type: 'checked',
                                prompt: 'You must agree to the terms and conditions'
                            }
                        ]
                    }
                }
            })
            ;
    </script>

</body>

</html>