<!DOCTYPE html>
<html lang="en">

<head>
    {{> meta_data }}
    {{> meta_icon }}

    <!-- Site Properties -->
    <title>
        < SITCODE 2019 />
    </title>
    {{> link_css_index }}
    <style>
        body {
            background: rgb(27, 28, 29);
        }
    </style>
</head>

<body>

    <div class="pusher">
        <div class="ui inverted vertical center aligned segment" id="logo">

            <div class="ui text container">
                <a href="https://sitcode.sit.kmutt.ac.th">
                    <h1 class="ui header special">
                        < SITCODE 2019 />
                    </h1>
                </a>
            </div>

        </div>

        <div class="ui vertical inverted segment">
            <div class="ui stackable middle equal width grid">
                <div class="centered row">
                    <div class="column">
                        <p style="text-align: center;">Last updated:</p>
                        <table class="ui celled striped inverted selectable table">
                            <thead>
                                <tr>
                                    <th class="center aligned">ลำดับ</th>
                                    <th class="center aligned">ชื่อทีม</th>
                                    <th class="center aligned">ข้อที่ 1</th>
                                    <th class="center aligned">ข้อที่ 2</th>
                                    <th class="center aligned">ข้อที่ 3</th>
                                    <th class="center aligned">ข้อที่ 4</th>
                                    <th class="center aligned">ข้อที่ 5</th>
                                    <th class="center aligned">ข้อที่ 6</th>
                                    <th class="center aligned">ข้อที่ 7</th>
                                    <th class="center aligned">ข้อที่ 8</th>
                                    <th class="center aligned">ข้อที่ 9</th>
                                    <th class="center aligned">ข้อที่ 10</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="assets/library/jquery.min.js"></script>
    <script src="assets/library/sweetalert.min.js"></script>
    <script src="js/scoreboard.js"></script>
</body>

</html>