<!DOCTYPE html>
<html>

<head>
    {{> meta_data }}
    {{> meta_icon }}

    <!-- Site Properties -->
    <title>
        < SITCODE 2019 />
    </title>
    {{> link_css_index }}
    <link rel="stylesheet" href="css/style-title.css">
</head>

<body>
    {{> menu_index }}

    <!-- Page Contents -->
    <div class="pusher">
        <div class="ui inverted vertical masthead center aligned segment" id="particles-js">
            <div class="ui inverted container" id="main-container">
                <h2 class="desc">ยินดีต้อนรับผู้เข้าแข่งขัน</h2>
                <h1 class="ui header special">
                    < SITCODE 2019 />
                </h1>
                <h2 class="main">การแข่งขันเขียนโปรแกรมคอมพิวเตอร์ระดับมัธยมศึกษาตอนปลาย</h2>
                <p class="main">การแข่งขันเขียนโปรแกรมคอมพิวเตอร์ ที่ท้าทายความสามารถของน้อง ๆ มัธยมศึกษาตอนปลาย SIT
                    CODE 2019 รวมทีม 3 คน สมัครเข้าร่วมการแข่งขันชิงทุนการศึกษากว่า 10,000 บาท</p>
                    <p class="main date">วันจันทร์ที่ 11 กุมภาพันธ์ 2562</p>
            </div>
        </div>
    </div>

    <script src="assets/library/jquery.min.js"></script>

    <script src="dist/components/visibility.min.js"></script>
    <script src="dist/components/transition.min.js"></script>

    <script src="assets/library/particles.min.js"></script>
    <script src="js/particle-loader.js"></script>

</body>

</html>