<!DOCTYPE html>
<html>

<head>
    {{> meta_data }}
    {{> meta_icon }}

    <!-- Site Properties -->
    <title>
        < SITCODE 2019 />
    </title>
    {{> link_css_index }}
    <link rel="stylesheet" href="css/style-title.css">
</head>

<body>
    {{> menu_index }}

    <!-- Page Contents -->
    <div class="pusher">
        <div class="ui inverted vertical masthead center aligned segment" id="particles-js">
            <div class="ui inverted container" id="main-container">
                <h1 class="ui header special">
                    < SITCODE 2019 />
                </h1>
                <h2 class="main">คาร์โก้รีวิว หลวงตา ฟีดไฮเปอร์วันเวย์ติวเตอร์บอร์ด</h2>
                <p class="main">พรีเมียมเบญจมบพิตรคาราโอเกะยูโรลีเมอร์ โปรเจกต์ฮ่องเต้บัสไบโอกราวนด์
                    คลิปวอลล์มือถือดีไซน์แม็กกาซีน
                    ควีนเลิฟไลท์ ไชน่าแคมปัสวันเวย์โก๊ะหมั่นโถว โกเต็กซ์แอโรบิคแอโรบิคสโตร์โปรโมเตอร์
                    รัมโยเกิร์ตตะหงิดซิมโฟนี โปลิศเยอร์บีราแครกเกอร์ไนน์สตาร์ ทริปวอลซ์ฮิปฮอป ตัวตนซิมโฟนี่กรุ๊ปสปาย</p>
            </div>
        </div>
    </div>

    <script src="assets/library/jquery.min.js"></script>

    <script src="dist/components/visibility.min.js"></script>
    <script src="dist/components/transition.min.js"></script>

    <script src="assets/library/particles.min.js"></script>
    <script src="js/particle-loader.js"></script>

</body>

</html>