#main-container {
  position: absolute;
  margin: 0 auto;
  top:50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}

.main {
  font-family: "Kanit", sans-serif;
}

h2.main {
  font-size: 3rem;
}

p.main {
  font-size: 1.75rem;
}

.special {
  color: #090909;
  background-image: -webkit-linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 5s infinite linear;
}

h2.desc {
 font-family: Kanit, sans-serif;
  font-size: 3.75rem;
}

.masthead h1.ui.header {
  font-size: 7rem;
  margin-top: 0;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

p.main.date {
  color: #fdb44b;
  font-size: 4rem;
}

#particles-js {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
}