.item,
.ui.button {
  font-family: "Kanit", sans-serif;
}

#main-container {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  margin-top: 10vh;
}

.blue-gradient {
  background: -webkit-linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main {
  font-family: "Kanit", sans-serif;
}

h2.main {
  font-size: 1.8rem;
}

p.main {
  font-size: 1.25rem;
}

h2.ui.header {
  font-size: 2.5em;
  font-family: "Kanit", sans-serif;
}

h3.ui.header {
  font-size: 1.5em;
  font-family: "Kanit", sans-serif;
}

.ui.header.center.aligned {
  margin-bottom: 2rem;
}

p,
td,
th {
  font-family: "Sarabun", sans-serif;
}

p {
  font-size: 1.25rem;
}

td,
th {
  font-size: 1rem;
}

.mobile-hidden {
  display: inherit;
}

.ui.inverted.primary.button,
.ui.inverted.primary.buttons .button {
  background: -webkit-linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-shadow: 0 0 0 2px -webkit-linear-gradient(
      120deg,
      #89f7fe 0%,
      #66a6ff 100%
    ) inset !important;
  box-shadow: 0 0 0 2px -webkit-linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.ui.inverted.primary.button:hover,
.ui.inverted.primary.buttons .button:hover {
  background: -webkit-linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  -webkit-text-fill-color: white;
}

.ui.large.header,
.ui.medium.header {
  font-family: "Kanit", sans-serif;
}

.ui.segment {
  font-size: 0.9rem;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: 800;
}

.remark {
  font-size: 1rem !important;
  color: red;
}

#map {
  width: 100%;
  height: 70vh;
}

.special {
  color: #090909;
  background-image: -webkit-linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 5s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

#particles-js {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
}

#particles-js-2 {
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  height: 30vh;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
}

@media only screen and (max-width: 700px) {
  #particles-js {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
  }

  #particles-js-2 {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
  }

  #main-container {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    margin-top: 5vh;
  }

  .mobile-hidden {
    display: none !important;
  }

}

@media only screen and (max-width: 470px) {
  #particles-js {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
  }

  #particles-js-2 {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
  }

  #main-container {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    margin-top: 1vh;
  }

  h2.main {
    font-size: 1.5rem;
  }

  p.main {
    font-size: 1rem;
  }

  .mobile-hidden {
    display: none !important;
  }
}

@media only screen and (max-width: 360px) {
  #particles-js {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
  }

  #particles-js-2 {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
  }

  #main-container {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    margin-top: 1vh;
  }

  h2.main {
    font-size: 1.5rem;
  }

  p.main {
    font-size: 1rem;
  }

  .mobile-hidden {
    display: none !important;
  }
}