#logo {
  position: fixed;
  width: 100%;
  z-index: 99;
}

.special {
  color: #090909;
  background-image: -webkit-linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 5s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.ui.header,
.ui.button {
  font-family: "Kanit", sans-serif;
}

h1.ui.header.special {
  font-size: 2.3rem;
}

h2.ui.header {
  font-size: 1.75rem;
}

h3.ui.header {
  font-size: 1.5rem;
}

p,
input,
li,
.ui.selection.dropdown .menu > .item,
.default.text {
  font-family: "Sarabun", sans-serif;
}

.ui.form .field > label,
.ui.checkbox input.hidden + label {
  font-family: "Kanit", sans-serif;
  font-size: 1rem;
}

::-webkit-input-placeholder {
  font-family: "Sarabun", sans-serif;
}
::-moz-placeholder {
  font-family: "Sarabun", sans-serif;
}
:-ms-input-placeholder {
  font-family: "Sarabun", sans-serif;
}
::placeholder {
  font-family: "Sarabun", sans-serif;
}

/* Sweet Alert Override Style */

h2#swal2-title.swal2-title {
  font-family: "Kanit", sans-serif;
  font-size: 1.75rem;
}

div.swal2-content {
  font-family: "Sarabun", sans-serif;
  font-size: 1.25rem;
}
