#map {
  width: 100%;
  height: 50vh;
}

.special {
  color: #090909;
  background-image: -webkit-linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 5s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

#particles-js {
  width: 100%;
  height: 1rem;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
}

@media only screen and (max-width: 700px) {
  #particles-js {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
  }
}
