<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted equal height twelve column stackable grid">
            <div class="row">
                <div class="two wide column">
                    <img class="ui small image centered" src="https://via.placeholder.com/75">
                </div>
                <div class="ten wide column">
                    <h3 class="ui inverted header">คณะเทคโนโลยีสารสนเทศ มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี</h3>
                    <p>126 ถนนประชาอุทิศ แขวงบางมด เขตทุ่งครุ กรุงเทพฯ 10140</p>
                </div>
            </div>
        </div>
    </div>
</div>