<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted equal height stackable grid">
            <div class="row">
                <div class="four wide column">
                    <img class="ui fluid image centered" src="/img/logo.png">
                </div>
                <div class="twelve wide column middle aligned">
                    <h3 class="ui inverted header">คณะเทคโนโลยีสารสนเทศ มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี</h3>
                    <p>126 ถนนประชาอุทิศ แขวงบางมด เขตทุ่งครุ กรุงเทพฯ 10140</p>
                    <p>ติดต่อสอบถาม/แจ้งปัญหา: <a href="mailto:sitcode@sit.kmutt.ac.th">sitcode@sit.kmutt.ac.th</a></p>
                </div>
            </div>
        </div>
    </div>
</div>