<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui inverted divider fluid"></div>
        <div class="ui items">
            <div class="item">
                <div class="ui tiny image">
                    <img src="img/skcc.png">
                </div>
                <div class="middle aligned centered content hide-content">
                    ชุมนุมคอมพิวเตอร์ โรงเรียนสวนกุหลาบวิทยาลัย<br /> อาคารสวนกุหลาบรำลึก (อาคาร 6) ชั้น 3<br />
                    88 ถนนตรีเพชร แขวงวังบูรพาภิรมย์ เขตพระนคร กรุงเทพมหานคร 10200
                </div>
            </div>
        </div>
    </div>
</div>