<!-- Following Menu -->
<div class="ui large inverted top fixed hidden menu">
    <div class="ui container">
        <a class="item" href="#particles-js">
            <h1 class="ui header special">
                < SITCODE 2019 />
            </h1>
        </a>
        <a class="item" href="#rule-section">กติกา</a>
        <a class="item" href="#compete-section">รูปแบบ</a>
        <a class="item" href="#reward-section">รางวัล</a>
        <a class="item" href="#appointment-section">กำหนดการ</a>
        <a class="item" href="#location-section">สถานที่</a>
        <a class="item" href="#document-section">เอกสาร</a>
        {{#if isOpen}}
        <div class="right item">
            <a class="ui inverted primary button" href="/register">สมัครเข้าร่วมการแข่งขัน</a>
        </div>
        {{else if isClose}}
        <div class="right item">
            <a class="ui inverted disabled button">ปิดรับสมัครแล้ว</a>
        </div>
        {{else}}
        <div class="right item">
            <a class="ui inverted disabled button">เปิดรับสมัครเร็ว ๆ นี้</a>
        </div>
        {{/if}}
    </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    <a class="item" href="#rule-section">กติกา</a>
    <a class="item" href="#compete-section">รูปแบบ</a>
    <a class="item" href="#reward-section">รางวัล</a>
    <a class="item" href="#appointment-section">กำหนดการ</a>
    <a class="item" href="#location-section">สถานที่</a>
    <a class="item" href="#document-section">เอกสาร</a>
    {{#if isOpen}}
    <div class="item">
        <a class="ui inverted primary button" href="/register">สมัครเข้าร่วมการแข่งขัน</a>
    </div>
    {{else if isClose}}
    <div class="right item">
        <a class="ui inverted disabled button">ปิดรับสมัครแล้ว</a>
    </div>
    {{else}}
    <div class="right item">
        <a class="ui inverted disabled button">เปิดรับสมัครเร็ว ๆ นี้</a>
    </div>
    {{/if}}
</div>