<!-- Following Menu -->
<div class="ui large inverted top fixed hidden menu">
    <div class="ui container">
        <a class="item">กติกา</a>
        <a class="item">รูปแบบ</a>
        <a class="item">รางวัล</a>
        <a class="item">กำหนดการ</a>
        <a class="item">สถานที่</a>
        <a class="item">เอกสาร</a>
        <div class="right item">
            <a class="ui inverted button" href="/register">สมัครเข้าร่วมการแข่งขัน</a>
        </div>
    </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    <a class="item">กติกา</a>
    <a class="item">รูปแบบ</a>
    <a class="item">รางวัล</a>
    <a class="item">กำหนดการ</a>
    <a class="item">สถานที่</a>
    <a class="item">เอกสาร</a>
    <div class="item">
        <a class="ui inverted button" href="/register">สมัครเข้าร่วมการแข่งขัน</a>
    </div>
</div>